<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>966539270409-j4jclu8ng6cgqsikgg0i32pp2nuau1ug.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.966539270409-j4jclu8ng6cgqsikgg0i32pp2nuau1ug</string>
	<key>API_KEY</key>
	<string>AIzaSyD0IVja8N89gRv9nfcjWcpwZt0vspyhX8I</string>
	<key>GCM_SENDER_ID</key>
	<string>966539270409</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sam.subtleasianmatches</string>
	<key>PROJECT_ID</key>
	<string>subtle-asian-datamatch</string>
	<key>STORAGE_BUCKET</key>
	<string>subtle-asian-datamatch.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:966539270409:ios:6444aa4ec03c419a</string>
	<key>DATABASE_URL</key>
	<string>https://subtle-asian-datamatch.firebaseio.com</string>
</dict>
</plist>