<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>pineapple_waitlist_enabled</key>
	<string>YES</string>
	<key>pear_button_string</key>
	<string>You&apos;ll be notified if someone pears you with them.</string>
	<key>pear_button_enabled</key>
	<false/>
	<key>waitlist_enabled</key>
	<true/>
	<key>version_blocking_enabled</key>
	<false/>
</dict>
</plist>
