<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>808130294159-ciqdpk9nne2e8de786srf8a6pefj447c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.808130294159-ciqdpk9nne2e8de786srf8a6pefj447c</string>
	<key>API_KEY</key>
	<string>AIzaSyBFrwz40lVGXq5DuRPvDNuoh_7QmNVRJV4</string>
	<key>GCM_SENDER_ID</key>
	<string>808130294159</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.getpear.pear</string>
	<key>PROJECT_ID</key>
	<string>pear-59123</string>
	<key>STORAGE_BUCKET</key>
	<string>pear-59123.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:808130294159:ios:0fdf632cfad1b8b9</string>
	<key>DATABASE_URL</key>
	<string>https://pear-59123.firebaseio.com</string>
</dict>
</plist>